@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

.search_bar{
    background-color: red;
    padding: 150px 0px 150px 0px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding-left: 200px ;
    padding-right:200px ;
}
.search_bar .cus-form{
    border:none;
    border-radius: 0px;
    padding: 13px;
    font-size: 17px;
    font-weight: 300;
    color: black;
}
.property{
    position: relative;
}
.property .prop_amenities{
    margin: 5px;
    height: 56px;
    overflow: hidden;
    /* width: 60%; */
    background-color: #efefef91;
    padding: 3px;
    border-radius: 10px;
    position: relative;
    padding-right: 100px;
    margin-left: 0px !important;
}
.property .prop_amenities .pro_box_side{
    position: absolute;
    background: #dadada;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 50px;
    border-left: 1px solid #c1c1c1;
}
.property .prop_amenities .pro_box_side .textbox{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 25px;
    width: 30px;
    transform: translate(-50%, -50%);
    line-height: 25px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.property .prop-img{
    width: 300px;
}
.show{
    height: auto !important;
}
.property .prop_amenities_box{
    background-color: #ffffff;
    margin: 2px 2px;
    padding: 1px 5px;
    border-radius: 7px;
    display: inline-block;
    color: #9f9f9f;
    font-weight: 600;
    font-size: 13px;
}

.property .pro-box{
    width: 560px !important;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;

}

.property .title{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-right: 25px;
    margin-top: 4px;
}

.property .subtitie{
    font-size: 15;
    font-weight: 200;
    color: #9f9f9f;
}
.property .prop-product{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #a70606;
    width: 100px;
    height: 25px;
    line-height: 25px;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

}
.property .prop-product_purpose{
    position: absolute;
    top: 45px;
    right: 15px;
    background-color: #a70606;
    width: 100px;
    height: 25px;
    line-height: 25px;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

}

.property .prod_title{
    font-size: 15px;
    margin-top: 5px;
    margin-left: 3px;
}

@media (max-width: 600px) {

    
.search_bar{
    background-color: red;
    padding: 60px 0px 60px 0px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding-left: 20px ;
    padding-right:20px ;
}
.search_bar .cus-form{
    border:none;
    border-radius: 0px;
    padding: 13px;
    font-size: 17px;
    font-weight: 300;
    color: black;
}

    .property .prop-img{
        width: 100%;
    }
  }